.card {
    width: 100%;
    height: fit-content;
    padding: 10px 5px 10px;
    background-color: rgb(25,25,25);
    box-sizing: border-box;
}
.card:first-of-type {
    background-color: rgb(10,10,10);
}
.card:nth-of-type(2n) {
    background-color: rgb(70,70,70);
}
.card__header{
    display: grid; 
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
}
.card__num {
    color: white;
    font-size: 30px;
    height: fit-content;
    display: flex;
    align-items: flex-end;
}
.card__view {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 30px;
    padding: 0;
    z-index: 5;
}
.card__view:hover {
    cursor: pointer;
}
.card__main {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.card__main-hidden {
    display: none;
}
.card__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}